{% extends 'base.html.twig' %}

{% block title %}Rédiger une review man{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<section class="container mt-5 st">
    <div class="row justify-content-center">
        <div class="col-6 border border-dark bg-form py-2 rounded">
            <h1 class="h3 text-dark text-center">Donnez votre avis !</h1>
                {{ form_start(createForm) }}
                    {{ form_row(createForm.title, {label: 'Titre'}) }}
                    {{ form_row(createForm.subtitle, {label: 'Titre de la review'})}}
                    {{ form_row(createForm.content, {label: 'Contenu de la review'})}}
                <button type="submit" class="btn btn-dark">Créer</button>
                    {{ form_end(createForm) }}
        </div>
    </div>
</section>
{% endblock %}
